@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans" !important;
    background-color: #ddd !important;
}



.fashion{
   background: url(images/jane.jpg);
   height: 100vh;
   background-size: 100% 100%;
   background-repeat: no-repeat;
    
    
}
.fashion .jion{
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   height: 70vh;
   flex-direction: column;
   gap: 10px;
   color: aliceblue;
   font-weight: bolder !important;
}
.fashion .jion h2{
    font-size: 3rem !important;
}
.fashion .jion button{
    background-color:#ddd ;
    color: black;
    opacity: 0.3;
    outline: transparent;
    border: transparent;
    padding: 15px 50px;
    font-size: 19px;
}
.fashion .jion button:hover{
    opacity: .9;
    background-color: #dddd;
}

.heading span{
    opacity: .5;
}

.heading .box-btn span{
    opacity: 1;
}
.heading .box-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading .box-btn button{
    border: transparent;
    outline: transparent;
    padding: 15px 25px;
    background-color: #d8d7d7;
    font-size: 20px;
}
.heading .box-btn button:hover{
    background-color: rgb(106, 106, 106);
    color: white;
}

.heading .box-btn button:hover span{
    color: black;
}
.box-image-one{
    background-color: black;
    color: whitesmoke;
}
.Denim{
    background-color: white;
    border-bottom: 1px solid  #ddd;
}
.Denim:hover{
    background-color: rgb(185, 185, 185);
}
.Denim img{
    padding: 10px;

}

.April , .Inspiration ,.Tags ,.heading ,.runway ,.Follow{
    background-color: whitesmoke;
}

.April p span{
    opacity: 0.5;
}
.April .description span{
    opacity: 1;
}
.April .box-btn ,.heading .box-btn ,.runway .box-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.April .box-btn button ,.runway .box-btn button {
    border: transparent;
    outline: transparent;
    padding: 15px 20px;
    background-color: #d8d7d7;
}
.Advertise{
    color: white;
}
.Advertise .box-image-tow{
    background-color: white;
}
.Advertise .box-image-tow .ddd{
    background-color: #ddd;
    height: 250px;

}
.Advertise span{
    padding: 5px 6px ;
    color: black;
    font-size: 14px;
    background-color: #e0dfdf;
}
summary{
    list-style: none;
    color: black;
}

.runway span{
    opacity: 0.3;
}
.runway .box-btn button {
    color: black !important;
}
.map{
    height: 100vh;
    background-color: red;
    width: 100%;
}
iframe{
    width: 100%;
    border: 1px solid #d8d7d7;
    height: 500px;
    padding: 10px;

}

footer{
    background:linear-gradient(rgba(0, 0, 0, 0.747),rgba(0, 0, 0, 0.651)),url(images/girl_hood.jpg)   ;
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    color: whitesmoke   ;
    padding:  15px;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
footer .icon a{
   
    text-decoration: none;
   
    color: whitesmoke;
}